/* ==== PRESET BÁSICO ==== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY / FONDO GRAL*/
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f1f0ff; 
  color: #000;
  line-height: 1.25;
}

/*  CABECERA SUP. */
#header {
  background: #c3c3e5;              
  
  border-bottom: 8px solid #000;    
  padding: 10px 0;
  text-align: center;
}

#header h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* CONTENEDOR PPAL */
#content{ 
  margin-left: 80px;
  margin-right: 80px;
      
}

/* CAJA DE IMAGEN DERECHA */
#image {
  float: right;
  width: 45%; 
  height: auto; 
  margin-top: 10px;             
  margin-bottom: 10px;
  background: #fff;
  border: 6px solid #000;     
  box-shadow: none;
  position: relative;
  z-index: 2;
}

#image img {  
  width: 100%;
  height: 100%;
}

/* BLOQUE DE TEXTO  */
#text {
  width: 100%;
  float: inline-end;
  text-indent: 30px;
}

#text p:first-child {
  background-image: url("../images/fondoParrafo.png");
  background-repeat: repeat;
  padding: 18px;
  margin-bottom: 2px;  
  border-radius: 25px 25px 0 0;
  border: 5px dashed #000;   
  font-size: 14px;
  text-align: justify;  
}

#text p {
  background-color: #c3c3e5;
  padding: 18px;
  margin-bottom: 2px;
  border: 5px dashed #000;   
  text-align: justify;  
}

#text p:last-child {
  background-color: #c3c3e5;
  padding: 18px;
  margin-bottom: 2px;
  border-radius: 0 0 25px 25px;
  border: 5px dashed #000;   
  text-align: justify;  
}

/*MENÚ INFERIOR */
#menu {
  clear: both;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#menu a {
  color: #364572;       
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
}

#menu li {
  display: inline-block;
}

#menu .sep {
  color: #fa0303;
  font-size: 20px;
  font-weight: 900;
}

/* PIE DE PÁGINA */
#footer {    
  width: auto;
  height: 35px;
  text-align: center;
  color: #fff; 
  background-color: #6b4b8f;
  border-top: 8px solid #0a5482;
}

#footer a {
  color: white;              
  text-decoration: none;    
  font-weight: bold;
}

#footer a:hover {
  color: #fa0303;
  text-decoration: none; 
  font-weight: 600;
}

@media all and (max-width: 500px) {}
