/* PRESET BÁSICO */

* {
  box-sizing: border-box;
}

/* BODY / FONDO GRAL*/

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: rgba(158, 157, 157, 0.466); 
  color: grey;  
}

/*  CABECERA SUP. */

header {    /* De momento vacío, no hago nada en él*/
}

.subheader{  /* Sub contenedor dentro del encabezado*/
    position: fixed;
    top: 20px;
    left: 15px;
    right: 15px;   
    background-color: white; 
}
a { /*Contenedor para definir los enlaces, le ponemos "none" para que no ponga un punto delante de cada elemento*/
    text-decoration: none;
}
a:hover { /* Para poner subrayados los links al pasar el mouse por encima*/
    text-decoration: underline;
}

.links{ /* Links del encabezado, les metemos un flex para organizarlos*/
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 3px dashed black;
    border-radius: 15px;
}

.links li { /* Los colocamos como una lista*/
    margin: 0;
    padding: 15px 30px;
    text-align: center;
    flex: 1;
    border-right: 3px dashed black;
}

.links li.sombreado { /*Creamos un tipo para los elementos de la lista sombreados, como el 3º*/
    color: black;
    background-color: rgb(160, 158, 158);
    
}

.links li:last-child { /*Al último hijo no le ponemos el borde a la derecha */
    border-right: none;
}

/* CUERPO */

.texto-overlay { /*Caja de texto que se superpone*/
    position: fixed;
    top: 300px;
    width: 100%;
}
.texto-box { /*Contenedor para el texto de la caja de texto*/
    width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.texto-box h3 { /* Contenedor para definir el tipo de texto dentro de un h3*/
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(160, 158, 158);
    text-align: center;
}

.texto-box p { /* Contenedor para definir los párrafos dentro de la caja*/
    padding: 15px;
    border-bottom: 1px solid rgb(160, 158, 158);
    text-align: center;
}

.boton { /*Contenedor para el botón de la caja de texto*/
    text-align: center;
}

main { /* Cuerpo ppal de la página*/
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
}
.caja1{ /*Caja al principio del main*/
    position: static;
    width: 100%;
    background-color: rgb(160, 158, 158);
    border-top: 3px black solid;
    height: 200px;
    text-align: left;
}

h1 { /*Contenedor para definir el tipo h1*/
    color: black;
}

.bloque { /*Contenedor tipo bloque*/
    width: 80%;
    margin: 200px auto;
}

.bloque-central { /*subcontenedor del tipo bloque, este va a la izquierda*/
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 30px;
}

.texto { /*Contenedor para definir texto*/
    width: 60%;
    padding: 20px;
}

.imagen { /*Contenedor para definir la imagen*/
    width: 50%;
}

.imagen img { /*Contenedor como imagen, pero más especifica para los contenedores tipo bloque*/
    width: 100%;
    height: auto;
    display: block;
}

.bloque-inverso { /*subcontenedor del tipo bloque, este va a la derecha*/
    display: flex;
    flex-direction: row-reverse;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 30px;
}

.menu-lateral { /*Contenedor para el menú lateral de links*/
    list-style: none;
    position: fixed;
    padding: 0;
    margin: 0;
    right: 50px;
    top: 600px;   
    width: 80px;
}

.menu-lateral li {  /*Contenedor tipo lista para los elementos del menú lateral*/
    list-style: none;
    margin: 10px 0;
}

.menu-lateral img{ /*Define las propiedades de las imagenes de la lista*/
    list-style: none;
    width: 60px;
    height: auto;
}

/* PIE DE PÁGINA */

footer { /*Contenedor para el píe de página*/
    margin: 100px;
    left: 5px;
    right: 5px;
    text-align: left;
    color: black; 
    background-color: rgb(160, 158, 158);
    border-top: 3px dashed black;
}

@media (max-width: 760px) { /* Esta parte espara reajustar el tamaño según dispositivo*/

    .texto-box { /* Redefinimos el Contenedor para la caja vista desde móvil*/
        width: 90%;
        max-width: none;
    }

    .bloque-central, /* Para redefinir el bloque central derecho e izquierdo*/
    .bloque-inverso {
        flex-direction: column;
    }

    .texto,
    .imagen {
        width: 100%;
    }

    .menu-lateral { /*Redefine el tamaño del bloque latera derecho con los links*/
        position: static;
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .menu-lateral ul { /*Lo mismo que el anterior, pero para la lista*/
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .menu-lateral li { /*Lo mismo que el anterior, pero para los elementos de la lista*/
        list-style: none;
        margin: 0 5px;
    }
}