/* PRESET BÁSICO */

* {
  box-sizing: border-box;
}

/* BODY / FONDO GRAL*/

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f1f0ff; 
  color: grey;
}

/*  CABECERA SUP. */

header {    
}

.subheader{  
    position: fixed;
    top: 20px;
    left: 15px;
    right: 15px;   
    background-color: whitesmoke; 
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 3px dashed black;
    border-radius: 15px;
    overflow: hidden;
}

.links li {
    margin: 0;
    padding: 15px 30px;
    text-align: center;
    flex: 1;
    border-right: 3px dashed black;
}

.links li.sombreado {
    color: black;
    background-color: rgb(160, 158, 158);
    
}

.links li:last-child {
    border-right: none;
}

/* CUERPO */

.texto-overlay {
    position: fixed;
    top: 300px;
    width: 100%;
}
.texto-box {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.texto-box h3 {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(160, 158, 158);
    text-align: center;
}

.texto-box p {
    padding: 15px;
    border-bottom: 1px solid rgb(160, 158, 158);
    text-align: center;
}

.boton {
    text-align: center;
}

main {
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
}
.caja1{
    position: static;
    width: 100%;
    background-color: rgb(160, 158, 158);
    border-top: 3px black solid;
    height: 200px;
    text-align: left;
}

h1 {
    color: black;
}

.bloque {
    width: 80%;
    margin: 200px auto;
}

.bloque-central {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 30px;
}

.texto {
    width: 60%;
    padding: 20px;
}

.imagen {
    width: 50%;
}

.imagen img {
    width: 100%;
    height: auto;
    display: block;
}

.bloque-inverso {
    display: flex;
    flex-direction: row-reverse;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 30px;
}

.menu-lateral {
    list-style: none;
    position: fixed;
    padding: 0;
    margin: 0;
    right: 50px;
    top: 600px;   
    width: 80px;
}

.menu-lateral li {
    list-style: none;
    margin: 10px 0;
}

.menu-lateral img{
    list-style: none;
    width: 60px;
    height: auto;
}

/* PIE DE PÁGINA */

footer {
    margin: 100px;
    left: 5px;
    right: 5px;
    text-align: left;
    color: black; 
    background-color: rgb(160, 158, 158);
    border-top: 3px dashed black;
}

@media (max-width: 760px) {

    .texto-box {
        width: 90%;
        max-width: none;
    }

    .bloque-central,
    .bloque-inverso {
        flex-direction: column;
    }

    .texto,
    .imagen {
        width: 100%;
    }

    .menu-lateral {
        position: static;
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .menu-lateral ul {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .menu-lateral li {
        list-style: none;
        margin: 0 5px;
    }
}